.list-navbar {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #66347F;
}

.list-navbar li {
    margin: 1em;
}

.list-navbar li button {
    border: none;
    border-radius: 7px;
    padding: 0.7em;
    color: white;
    background-color: #9E4784;
}

.list-navbar li button:hover {
    cursor: pointer;
    background-color: #37306B;
    color: white;

}