.drawer-list {
    color: #E72391 !important;
}
.pages {
    margin-left: -1.5em !important;
}
.icon-btn {
    margin-left: auto !important;
    color: white !important;
}
.MuiSvgIcon-root {
    color: #E72391 !important;
}